  .navbar-brand {
    font-size: 24px;
  }
  
  .navbar-toggler {
    border: none;
  }

  .custom-rounded img {
    border-radius: 0.5rem;
  }

  .news-rounded img {
    border-radius: 0.5rem 0.5rem 0rem 0rem;
  }

  .news-background {
    background-color: rgba(77, 153, 183, 0.7);
    border-radius: 0.5rem !important;
  }

  .navbar-toggler-icon {
    background-image: none!important;
    /* background-color: var(--bs-gray-800); */
    background-color: #4D99B7;
    height: 3px;
    width: 25px;
    margin: 10px 0;
    position: relative;
    transition: all 0.35s ease-out;
    transform-origin: center;
  }
  
  .navbar-toggler-icon::before {
    display: block;
    /* background-color: var(--bs-gray-800); */
    background-color: #4D99B7;
    height: 3px;
    content: "";
    position: relative;
    top: -7px;
    transition: all 0.15s ease-out;/*taken down to hide quicker*/
    transform-origin: center;
  }
  
  .navbar-toggler-icon::after {
    display: block;
    background-color: #4D99B7;
    height: 3px;
    content: "";
    position: relative;
    top: 4px;
    transition: all 0.35s ease-out;
    transform-origin: center;
  }
  
  .navbar-dark .navbar-toggler-icon,
  .navbar-dark .navbar-toggler-icon::before,
  .navbar-dark .navbar-toggler-icon::after {
    background-color: var(--bs-gray-100);
  }
  
  .navbar-toggler:not(.collapsed) .navbar-toggler-icon {
    transform: rotate(45deg);
  }
  
  .navbar-toggler:not(.collapsed) .navbar-toggler-icon::before {
    opacity: 0;
  }
  
  .navbar-toggler:not(.collapsed) .navbar-toggler-icon::after {
    transform: rotate(-90deg) translateX(7px);
  }

  @media screen and (max-width: 768px) {
    .navbar-brand {
      font-size: var(--bs-navbar-brand-font-size);
    }
  }


  /* Custom floating image style */
.floating-image-wrapper {
  position: relative;
}

.floating-image {
  position: absolute;
  left: -30px; /* Adjust the value as needed */
  top: 0;
  max-width: 100%;
  border-radius: 5px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Optional shadow effect */
}

.title-intro {
  font-size: 2.5rem;
  font-weight: bold;
  color: white;
}

.description-intro {
  font-size: 1rem;
  color: white;
}

/* Background color for the text section */
.text-background {
  background-color: #5baac0; /* Adjust this to match the blue background in your image */
  border-radius: 8px;
  padding: 30px;
  color: white;
  position: relative;
}

.text-background .btn {
  background-color: #333; /* Optional custom button color */
  border: none;
}

.custom-learnmore .wp-block-post-excerpt__more-link {
  padding: 6px 10px;
  margin-top: 6px;
  background-color: #4D99B7 !important;
  border: none !important;
  color: #fff !important;
  border-radius: 6px;
  text-decoration: none !important;
}
