.my-experience ul, .my-experience li {
    list-style: none;
    padding: 0;
  }
  
  .my-experience .container {
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    /* background: #f4f7fb; */
    background-color: #545454;
    padding: 0rem 0;
    color: #fff;
  }
  
  .my-experience .wrapper {
    /* border-radius: 8%; */
    /* background: #fff; */
    background-color: #545454;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 15px;
    max-height: 330px;
    overflow-y: scroll;
    direction: rtl;
    margin-left: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }

  .my-experience .wrapper::-webkit-scrollbar {
    width: 6px; /* Customize scrollbar width */
  }
  
  .my-experience .wrapper::-webkit-scrollbar-thumb {
    background-color: #4D99B7; /* Customize scrollbar thumb color */
    border: 2px solid #4D99B7;
    background-clip: padding-box;
    border-radius: 10px;
  }

  .my-experience .wrapper::-webkit-scrollbar-track {
    /* background-color: transparent;  */
    /* Track color (optional) */
    border-radius: 10px;
    position: relative;
    background-color: #fff;
  }

  /* Create a fake track wrapper to restrict the height of the visible scrollbar */
  .my-experience .wrapper::before, .my-experience .wrapper::after {
    content: '';
    position: absolute;
    left: 100%; /* Move it to the right of the scroll container */
    width: 10px;
    height: 30%; /* This is where we control the scrollbar size (e.g., 30% of the height) */
    background: #fff; /* Color that matches the container background */
    z-index: 10;
  }

  .my-experience .wrapper::before {
    top: 0; /* Top covering part of the scrollbar */
  }

  .my-experience .wrapper::after {
    bottom: 0; /* Bottom covering part of the scrollbar */
  }
  
  .my-experience .sessions {
    /* margin-top: 2rem; */
    position: relative;
  }

  .my-experience .wrapper ul {
    direction: ltr; /* Content stays left to right */
  }
  
  .my-experience li {
    padding-bottom: 1.5rem;
    /* border-left: 2px solid #fff; */
    /* border-left: 2px solid #4e5ed3; */
    position: relative;
    /* padding-left: 20px; */
    /* margin-left: 10px; */
  }
  /* .my-experience li:before {
    content: "";
    width: 15px;
    height: 15px;
    background: white;
    border-radius: 50%;
    position: absolute;
    left: -9px;
    top: 0px;
  } */
  
  .my-experience li:last-child {
    border: 0px;
    padding-bottom: 0;
  }
  
  .my-experience .stripe {
    /* background-color: #4e5ed3; */
    color: white;
    /* padding: 0.5rem; */
    border-radius: 4px;
    font-weight: bold;
    display: inline-block;
  }
  
  .my-experience .caption {
    /* color: #4f4f4f; */
    color: #fff;
    font-family: sans-serif;
    margin-top: 0.5rem;
    line-height: 1.5;
  }
  
  .my-experience .caption:last-child {
    margin-bottom: 0;
  }
  