@font-face {
    font-family: 'Quicksand-Bold';
    src: url('../fonts/Quicksand-Bold.ttf');
}
@font-face {
    font-family: 'Quicksand-Light';
    src: url('../fonts/Quicksand-Light.ttf');
}
@font-face {
    font-family: 'Quicksand-Medium';
    src: url('../fonts/Quicksand-Medium.ttf');
}
@font-face {
    font-family: 'Quicksand-Regular';
    src: url('../fonts/Quicksand-Regular.ttf');
}
@font-face {
    font-family: 'Quicksand-SemiBold';
    src: url('../fonts/Quicksand-SemiBold.ttf');
}

.default-font {
    font-family: 'Quicksand-Regular' !important;
}
.font-light {
    font-family: 'Quicksand-Light' !important;
}
.font-medium {
    font-family: 'Quicksand-Medium' !important;
}
.font-bold {
    font-family: 'Quicksand-Bold' !important;
}
.font-semibold {
    font-family: 'Quicksand-SemiBold' !important;
}


.primary-color {
    color: #4D99B7;
}

.brown-color {
    color: #63310E;
}

.primary-background {
    background-color: #4D99B7;
}

.max-height {
    max-height: 560px !important;
}

.max-height img {
    height: 560px !important;
    object-fit: cover;
    width: 100% !important;
}

.btn-primary {
    background-color: #fff !important;
    border: none !important;
    color: #4D99B7 !important;
    padding-top: 0px;
    padding-bottom: 0px;
}

.btn-navbar {
    background-color: #4D99B7 !important;
    color: #fff !important;
    padding-top: 0px;
    padding-bottom: 0px;
}

.footer {
    color: #fff;
}

.navbar.bg-body-tertiary {
    background-color: transparent !important;
}

.plugin-carousel {
    display: block !important;
}

.date-news {
    font-size: 28px;
}

.title-news {
    font-size: 58px;
}

.desc-news {
    font-size: 28px;
}

.also-featured {
    font-size: 36px;
}

.latest-post {
    font-size: 26px;
}

.achievement-header {
    font-size: 42px;
}
.video-header {
    font-size: 42px;
}
.gallery-header {
    font-size: 42px;
}

.art-desc {
    font-size: 26px;
}

.art-title {
    font-size: 42px;
}

.limit-lines {
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 2; /* number of lines to show */
           line-clamp: 2;
   -webkit-box-orient: vertical;
}

.headlines-desc {
    font-size: 26px;
}

.headlines-title {
    font-size: 42px;
}

.remove-link-style a {
    color: #4D99B7 !important;
    text-decoration: none !important;
}

.remove-link-style-normal a {
    text-decoration: none !important;
}

.footer .container {
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer-title {
    font-size: 48px;
    font-weight: 200;
    letter-spacing: 3px !important;
    margin: 0;
}

.linked-footer {
    width: 40px !important;
}

.insta-footer {
    width: 40px !important;
}

.youtube-footer {
    width: 50px !important;
}

.footer-menu {
    font-size: 24px !important;
    font-weight: 600;
}

.article-pagination .swiper-horizontal>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic, .swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
    transform: translateX(-50%) translateY(0px);
}

.swiper-pagination-bullet {
    background: #dbd7d7;
}

.swiper-pagination-bullet-active {
    background: #4D99B7;
}

@media screen and (max-width: 1200px) {
    .navbar-nav {
        font-size: 9px !important;
    }
    .navbar-nav a {
        padding-top: 5px;
        padding-bottom: 5px;
    }
}

@media screen and (max-width: 1024px) {
    .date-news {
        font-size: 24px !important;
    }
    
    .title-news {
        font-size: 48px !important;
    }
    
    .desc-news {
        font-size: 24px !important;
    }
    
    .achievement-header {
        font-size: 42px !important;
    }
    .video-header {
        font-size: 42px !important;
    }
    .gallery-header {
        font-size: 42px !important;
    }
    
    .art-desc {
        font-size: 18px !important;
    }
    
    .art-title {
        font-size: 26px !important;
    }

    .headlines-desc {
        font-size: 18px !important;
    }
    
    .headlines-title {
        font-size: 26px !important;
    }
}

@media screen and (max-width: 992px) {
    .max-height {
        max-height: none !important;
    }
    .max-height img {
        max-width: none !important;
        height: auto !important;
        object-fit: cover;
        width: 100% !important;
    }
    #menu-main-menu {
        font-family: 'Quicksand-SemiBold';
        font-size: 16px !important;
        align-items: normal !important;
        background-color: #4D99B7;
        border-radius: 12px !important;
    }
    #menu-main-menu-other {
        font-family: 'Quicksand-SemiBold';
        font-size: 16px !important;
        align-items: normal !important;
        background-color: #4D99B7;
        border-radius: 12px !important;
    }

    .bottom-excerpt {
        margin-bottom: 1.5rem !important;
    }

    .footer-title {
        font-size: 34px !important;
        font-weight: 200 !important;
        letter-spacing: 3px !important;
    }
    
    .linked-footer {
        width: 30px !important;
    }
    
    .insta-footer {
        width: 30px !important;
    }
    
    .youtube-footer {
        width: 40px !important;
    }
    
    .footer-menu {
        font-size: 16px !important;
        font-weight: 600 !important;
    }

    .also-featured {
        font-size: 32px !important;
    }
    
    .latest-post {
        font-size: 24px !important;
    }

    .date-news {
        font-size: 18px !important;
    }
    
    .title-news {
        font-size: 36px !important;
    }
    
    .desc-news {
        font-size: 18px !important;
    }
    
    .achievement-header {
        font-size: 36px !important;
    }
    .video-header {
        font-size: 36px !important;
    }
    .gallery-header {
        font-size: 36px !important;
    }

    .art-desc {
        font-size: 12px !important;
    }
    
    .art-title {
        font-size: 24px !important;
    }
    
    .headlines-desc {
        font-size: 12px !important;
    }
    
    .headlines-title {
        font-size: 24px !important;
    }

    .advanced-group-margin {
        margin-top: 1rem !important;
    }
}

@media screen and (max-width: 768px) {
    .max-height {
        max-height: none !important;
    }
    .max-height img {
        max-width: none !important;
        height: auto !important;
        object-fit: cover;
        width: 100% !important;
    }

    .article-desc {
        font-size: 14px !important;
    }
    .date-news {
        font-size: 18px !important;
    }
    
    .title-news {
        font-size: 28px !important;
    }
    
    .desc-news {
        font-size: 18px !important;
    }
    
    .also-featured {
        font-size: 28px !important;
    }
    
    .latest-post {
        font-size: 18px !important;
    }
    
    .achievement-header {
        font-size: 28px !important;
    }
    .video-header {
        font-size: 28px !important;
    }
    .gallery-header {
        font-size: 28px !important;
    }
    
    .art-desc {
        font-size: 18px !important;
    }
    
    .art-title {
        font-size: 32px !important;
    }  

    .headlines-desc {
        font-size: 18px !important;
    }
    
    .headlines-title {
        font-size: 32px !important;
    }   

    :where(.wp-block-columns.is-layout-flex) {
        gap: 0 !important;
    }

    .footer .container {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    
    .footer-title {
        font-size: 24px !important;
        font-weight: 200 !important;
        letter-spacing: 3px !important;
    }
    
    .linked-footer {
        width: 35px !important;
    }
    
    .insta-footer {
        width: 35px !important;
    }
    
    .youtube-footer {
        width: 44px !important;
    }
    
    .footer-menu {
        font-size: 12px !important;
        font-weight: 600;
    }
}

@media screen and (max-width: 576px) {
    .footer-first {
        flex-direction: column-reverse;
    }
    .footer-title {
        margin-bottom: 8px !important;
    }
}

@media screen and (max-width: 490px) { 
    .max-height {
        max-height: none !important;
    }
    .max-height img {
        max-width: none !important;
        height: auto !important;
        object-fit: cover;
        width: 100% !important;
    }

    .footer-bottom-menu {
        display: flex;
        justify-content: center;
    }
    #menu-footer-menu {
        display: block !important;
        max-width: 85%;
    }
    #menu-footer-menu-other {
        display: block !important;
        max-width: 85%;
    }
    .footer-menu {
        font-size: 16px !important;
    }

    .advanced-group-margin {
        margin-top: 0 !important;
    }
}

@media screen and (max-width: 425px) {
    .max-height {
        max-height: none !important;
    }
    .max-height img {
        max-height: none !important;
        height: auto;
        object-fit: cover;
        width: 100% !important;
    }
    
    .article-desc {
        font-size: 12px !important;
    }

    .date-news {
        font-size: 12px !important;
    }
    
    .title-news {
        font-size: 20px !important;
    }
    
    .desc-news {
        font-size: 12px !important;
    }
    
    .also-featured {
        font-size: 24px !important;
    }
    
    .latest-post {
        font-size: 16px !important;
    }

    .separator {
        margin-top: 0.2rem !important;
    }
    
    .achievement-header {
        font-size: 24px !important;
    }
    .video-header {
        font-size: 24px !important;
    }
    .gallery-header {
        font-size: 24px !important;
    }
    
    .art-desc {
        font-size: 12px !important;
    }
    
    .art-title {
        font-size: 24px !important;
    }   
    
    .headlines-desc {
        font-size: 12px !important;
    }
    
    .headlines-title {
        font-size: 24px !important;
    }   
}