
.primary-color {
    color: #4D99B7;
}

.brown-color {
    color: #63310E;
}

.primary-background {
    background-color: #4D99B7;
}

.btn-primary {
    background-color: #4D99B7 !important;
    padding-top: 0px;
    padding-bottom: 0px;
}

.footer {
    color: #fff;
}

.navbar.bg-body-tertiary {
    background-color: transparent !important;
}

.plugin-carousel {
    display: block !important;
}

.date-news {
    font-size: 28px;
}

.title-news {
    font-size: 58px;
}

.desc-news {
    font-size: 28px;
}

.also-featured {
    font-size: 36px;
}

.latest-post {
    font-size: 26px;
}

.achievement-header {
    font-size: 42px;
}
.video-header {
    font-size: 42px;
}
.gallery-header {
    font-size: 42px;
}

.art-desc {
    font-size: 26px;
}

.art-title {
    font-size: 42px;
}

.remove-link-style a {
    color: #4D99B7 !important;
    text-decoration: none !important;
}

.remove-link-style-normal a {
    text-decoration: none !important;
}

.footer .container {
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer-title {
    font-size: 48px;
    font-weight: 200;
    letter-spacing: 3px !important;
}

.linked-footer {
    width: 68px !important;
}

.insta-footer {
    width: 56px !important;
}

.youtube-footer {
    width: 70px !important;
}

.footer-menu {
    font-size: 24px !important;
    font-weight: 600;
}

.article-pagination .swiper-horizontal>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic, .swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
    transform: translateX(-50%) translateY(0px);
}

.swiper-pagination-bullet {
    background: #dbd7d7;
}

.swiper-pagination-bullet-active {
    background: #4D99B7;
}

@media screen and (max-width: 1024px) {
    .navbar-nav {
        font-size: 18px !important;
    }
}

@media screen and (max-width: 768px) {
    .date-news {
        font-size: 28px;
    }
    
    .title-news {
        font-size: 58px;
    }
    
    .desc-news {
        font-size: 28px;
    }
    
    .also-featured {
        font-size: 36px;
    }
    
    .latest-post {
        font-size: 26px;
    }
    
    .achievement-header {
        font-size: 42px;
    }
    .video-header {
        font-size: 42px;
    }
    .gallery-header {
        font-size: 42px;
    }
    
    .art-desc {
        font-size: 26px;
    }
    
    .art-title {
        font-size: 42px;
    }   

    .footer .container {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    
    .footer-title {
        font-size: 48px;
        font-weight: 200;
        letter-spacing: 3px !important;
    }
    
    .linked-footer {
        width: 68px !important;
    }
    
    .insta-footer {
        width: 56px !important;
    }
    
    .youtube-footer {
        width: 70px !important;
    }
    
    .footer-menu {
        font-size: 24px !important;
        font-weight: 600;
    }
}

@media screen and (max-width: 490px) {
    
}

@media screen and (max-width: 425px) {
    
}