
.primary-color {
    color: #4D99B7;
}

.primary-background {
    background-color: #4D99B7;
}

.btn-primary {
    background-color: #4D99B7 !important;
    padding-top: 0px;
    padding-bottom: 0px;
}

.footer {
    color: #fff;
}

.navbar.bg-body-tertiary {
    background-color: transparent !important;
}

.plugin-carousel {
    display: block !important;
}

.custom-pagination .swiper-horizontal>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic, .swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
    transform: translateX(-50%) translateY(35px);
}

.article-pagination .swiper-horizontal>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic, .swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
    transform: translateX(-50%) translateY(10px);
}

.article-pagination .swiper-pagination-bullet {
    background: #dbd7d7;
}

.article-pagination .swiper-pagination-bullet-active {
    background: #fff;
}